In [1]:
print("Hello, World!")

Hello, World!

In [4]:
A = 1
B = 2
if A > B:
    print("A is greater than B")
else:
    print("B is less than A")

B is less than A

In [5]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [6]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [7]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [8]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Move Zeros to Left Side

In [9]:
def move_zeros_to_left(A):
  if len(A) < 1:
    return

  lengthA = len(A)
  write_index = lengthA - 1
  read_index = lengthA - 1

  while(read_index >= 0):
    if A[read_index] != 0:
      A[write_index] = A[read_index]
      write_index -= 1

    read_index -= 1

  while(write_index >= 0):
    A[write_index]=0;
    write_index-=1
    
v = [1, 10, 20, 0, 59, 63, 0, 88, 0]
print("Original Array:", v)

move_zeros_to_left(v)

print("After Moving Zeroes to Left: ", v)

Original Array: [1, 10, 20, 0, 59, 63, 0, 88, 0]
After Moving Zeroes to Left:  [0, 0, 0, 1, 10, 20, 59, 63, 88]

In [10]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [11]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [12]:
x = 5
y = 10
print(x + y)

15

In [13]:
x = 5
y = "John"
print(x, y)

5 John

In [16]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [18]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [19]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [24]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Arrays: Merge overlapping intervals

In [3]:
class Pair:
  def __init__(self, first, second):
    self.first = first
    self.second = second

def merge_intervals(v):
  if v == None or len(v) == 0 :
    return None

  result = []
  result.append(Pair(v[0].first, v[0].second))

  for i in range(1, len(v)):
    x1 = v[i].first
    y1 = v[i].second
    x2 = result[len(result) - 1].first
    y2 = result[len(result) - 1].second

    if y2 >= x1:
      result[len(result) - 1].second = max(y1, y2)
    else:
      result.append(Pair(x1, y1))

  return result;

v = [Pair(1, 5), Pair(3, 1), Pair(4, 6), 
     Pair(6, 8), Pair(10, 12), Pair(11, 15)]

result = merge_intervals(v)

for i in range(len(result)):
  print("[" + str(result[i].first) + ", " + str(result[i].second) + "]", end =" ")

[1, 8] [10, 15]

In [14]:
x = 5
print(type(x))

<class 'int'>

In [15]:
x = set(("apple", "banana", "cherry"))
print(type(x))

<class 'set'>

In [16]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [26]:
import random

print(random.randrange(1, 10))

6

# Strings: String segmentation

In [28]:
def can_segment_string(s, dictionary):
  for i in range(1, len(s) + 1):
    first = s[0:i]
    if first in dictionary:
      second = s[i:]
      if not second or second in dictionary or can_segment_string(second, dictionary):
        return True
  return False
  
s = "hellonow";
dictionary= set(["hello","hell","on","now"])
if can_segment_string(s, dictionary):
  print("String Can be Segmented")
else:
  print("String Can NOT be Segmented")

String Can be Segmented

# Dynamic Programming: Find maximum single sell profit

In [29]:
def find_buy_sell_stock_prices(array):
  if array == None or len(array) < 2:
    return None

  current_buy = array[0]
  global_sell = array[1]
  global_profit = global_sell - current_buy

  current_profit = float('-inf')

  for i in range(1, len(array)):
    current_profit = array[i] - current_buy

    if current_profit > global_profit:
      global_profit = current_profit
      global_sell = array[i]

    if current_buy > array[i]:
      current_buy = array[i];

  result = global_sell - global_profit, global_sell                 
   
  return result

array = [1, 2, 3, 4, 3, 2, 1, 2, 5]  
result = find_buy_sell_stock_prices(array)
print("Buy Price: " + str(result[0]) + ", Sell Price: " + str(result[1]))

array = [8, 6, 5, 4, 3, 2, 1]
result = find_buy_sell_stock_prices(array)
print("Buy Price: " + str(result[0]) + ", Sell Price: " + str(result[1]))

Buy Price: 1, Sell Price: 5
Buy Price: 6, Sell Price: 5

# Math and Stats: Calculate the power of a number

In [33]:
def power_rec(x, n):
  if n == 0:
    return 1
  if n == 1:
    return x
  
  temp = power_rec(x, n//2)
  if n % 2 == 0:
    return temp * temp
  else:
    return x * temp * temp

def power(x, n):
  is_negative = False
  if n < 0:
    is_negative = True
    n *= -1

  result = power_rec(x, n)

  if is_negative:
    return 1 / result
  
  return result

def main():
  pass_count = 0
  fail_count = 0
  for x in range(-10, 5, 1):
    for n in range(-4, 6):
      if x == 0 and n < 0:
        continue
      r1 = power(x * 1.0, n)
      r2 = pow(x, n)
      diff = r1 - r2
      if diff < 0:
        diff *= -1

      if diff > 0.0000000001:
        msg = "r1 = %f, r2 = %f, difference = %f" % (r1, r2, diff)
        print("Failed for (%d, %d) - %s" % (x, n, msg))
        fail_count += 1
      else:
        pass_count += 1
      assert diff <= 0.0000000001

main()
print(pow(2, 5))

32

# Backtracking: Find all possible subsets

In [34]:
def get_bit(num, bit):
    temp = (1 << bit)
    temp = temp & num
    if temp == 0:
      return 0
    return 1
        
def get_all_subsets(v, sets):
    subsets_count = 2 ** len(v)
    for i in range(0, subsets_count):
      st = set([])
      for j in range(0, len(v)):
         if get_bit(i, j) == 1:
            st.add(v[j])
      sets.append(st)
      
def main():
    v = [8,13,3,22,17,39,87,45,36]
    subsets = []
    get_all_subsets(v, subsets);
    print("****Total*****" + str(len(subsets)))
    for i in range(0, len(subsets)):
        print("{", end = "")
        print(subsets[i], end = "")
        print("}")
    print("****Total*****" + str(len(subsets)))

main()

****Total*****512
{set()}
{{8}}
{{13}}
{{8, 13}}
{{3}}
{{8, 3}}
{{3, 13}}
{{8, 3, 13}}
{{22}}
{{8, 22}}
{{13, 22}}
{{8, 13, 22}}
{{3, 22}}
{{8, 3, 22}}
{{3, 13, 22}}
{{8, 3, 13, 22}}
{{17}}
{{8, 17}}
{{17, 13}}
{{8, 17, 13}}
{{17, 3}}
{{8, 17, 3}}
{{17, 3, 13}}
{{8, 17, 3, 13}}
{{17, 22}}
{{8, 17, 22}}
{{17, 13, 22}}
{{8, 17, 13, 22}}
{{17, 3, 22}}
{{8, 17, 3, 22}}
{{17, 3, 13, 22}}
{{3, 8, 13, 17, 22}}
{{39}}
{{8, 39}}
{{13, 39}}
{{8, 13, 39}}
{{3, 39}}
{{8, 3, 39}}
{{3, 13, 39}}
{{8, 3, 13, 39}}
{{22, 39}}
{{8, 22, 39}}
{{13, 22, 39}}
{{8, 13, 22, 39}}
{{3, 22, 39}}
{{8, 3, 22, 39}}
{{3, 13, 22, 39}}
{{3, 39, 8, 13, 22}}
{{17, 39}}
{{8, 17, 39}}
{{17, 13, 39}}
{{8, 17, 13, 39}}
{{17, 3, 39}}
{{8, 17, 3, 39}}
{{17, 3, 13, 39}}
{{3, 39, 8, 13, 17}}
{{17, 22, 39}}
{{8, 17, 22, 39}}
{{17, 13, 22, 39}}
{{39, 8, 13, 17, 22}}
{{17, 3, 22, 39}}
{{3, 39, 8, 17, 22}}
{{3, 39, 13, 17, 22}}
{{3, 39, 8, 13, 17, 22}}
{{87}}
{{8, 87}}
{{13, 87}}
{{8, 13, 87}}
{{3, 87}}
{{8, 3, 87}}
{{3, 13, 87}}
{{8, 3, 13, 87}}
{{22, 87}}
{{8, 22, 87}}
{{13, 22, 87}}
{{8, 13, 22, 87}}
{{3, 22, 87}}
{{8, 3, 22, 87}}
{{3, 13, 22, 87}}
{{3, 8, 13, 22, 87}}
{{17, 87}}
{{8, 17, 87}}
{{17, 13, 87}}
{{8, 17, 13, 87}}
{{17, 3, 87}}
{{8, 17, 3, 87}}
{{17, 3, 13, 87}}
{{3, 8, 13, 17, 87}}
{{17, 22, 87}}
{{8, 17, 22, 87}}
{{17, 13, 22, 87}}
{{8, 13, 17, 22, 87}}
{{17, 3, 22, 87}}
{{3, 8, 17, 22, 87}}
{{3, 13, 17, 22, 87}}
{{3, 8, 13, 17, 22, 87}}
{{87, 39}}
{{8, 87, 39}}
{{13, 87, 39}}
{{8, 13, 87, 39}}
{{3, 87, 39}}
{{8, 3, 87, 39}}
{{3, 13, 87, 39}}
{{3, 39, 8, 13, 87}}
{{87, 22, 39}}
{{8, 87, 22, 39}}
{{87, 13, 22, 39}}
{{39, 8, 13, 22, 87}}
{{3, 87, 22, 39}}
{{3, 39, 8, 22, 87}}
{{3, 39, 13, 22, 87}}
{{3, 39, 8, 13, 22, 87}}
{{17, 87, 39}}
{{8, 17, 87, 39}}
{{17, 13, 87, 39}}
{{39, 8, 13, 17, 87}}
{{17, 3, 87, 39}}
{{3, 39, 8, 17, 87}}
{{3, 39, 13, 17, 87}}
{{3, 39, 8, 13, 17, 87}}
{{17, 87, 22, 39}}
{{39, 8, 17, 22, 87}}
{{39, 13, 17, 22, 87}}
{{39, 8, 13, 17, 22, 87}}
{{3, 39, 17, 22, 87}}
{{3, 39, 8, 17, 22, 87}}
{{3, 39, 13, 17, 22, 87}}
{{3, 39, 8, 13, 17, 22, 87}}
{{45}}
{{8, 45}}
{{45, 13}}
{{8, 45, 13}}
{{3, 45}}
{{8, 3, 45}}
{{45, 3, 13}}
{{8, 45, 3, 13}}
{{45, 22}}
{{8, 45, 22}}
{{45, 13, 22}}
{{8, 45, 13, 22}}
{{3, 45, 22}}
{{8, 3, 45, 22}}
{{45, 3, 13, 22}}
{{3, 8, 45, 13, 22}}
{{17, 45}}
{{8, 17, 45}}
{{17, 45, 13}}
{{8, 17, 45, 13}}
{{17, 3, 45}}
{{8, 17, 3, 45}}
{{45, 17, 3, 13}}
{{3, 8, 13, 45, 17}}
{{17, 45, 22}}
{{8, 17, 45, 22}}
{{17, 45, 13, 22}}
{{8, 45, 13, 17, 22}}
{{17, 3, 45, 22}}
{{3, 8, 45, 17, 22}}
{{3, 45, 13, 17, 22}}
{{3, 8, 13, 45, 17, 22}}
{{45, 39}}
{{8, 45, 39}}
{{45, 13, 39}}
{{8, 45, 13, 39}}
{{3, 45, 39}}
{{8, 3, 45, 39}}
{{45, 3, 13, 39}}
{{3, 39, 8, 45, 13}}
{{45, 22, 39}}
{{8, 45, 22, 39}}
{{45, 13, 22, 39}}
{{39, 8, 45, 13, 22}}
{{3, 45, 22, 39}}
{{3, 39, 8, 45, 22}}
{{3, 39, 45, 13, 22}}
{{3, 39, 8, 13, 45, 22}}
{{17, 45, 39}}
{{8, 17, 45, 39}}
{{17, 45, 13, 39}}
{{39, 8, 45, 13, 17}}
{{17, 3, 45, 39}}
{{3, 39, 8, 45, 17}}
{{3, 39, 45, 13, 17}}
{{3, 39, 8, 13, 45, 17}}
{{17, 45, 22, 39}}
{{39, 8, 45, 17, 22}}
{{39, 45, 13, 17, 22}}
{{39, 8, 13, 45, 17, 22}}
{{3, 39, 45, 17, 22}}
{{3, 39, 8, 45, 17, 22}}
{{3, 39, 13, 45, 17, 22}}
{{3, 39, 8, 13, 45, 17, 22}}
{{45, 87}}
{{8, 45, 87}}
{{45, 13, 87}}
{{8, 45, 13, 87}}
{{3, 45, 87}}
{{8, 3, 45, 87}}
{{45, 3, 13, 87}}
{{3, 8, 45, 13, 87}}
{{45, 22, 87}}
{{8, 45, 22, 87}}
{{45, 13, 22, 87}}
{{8, 45, 13, 22, 87}}
{{3, 45, 22, 87}}
{{3, 8, 45, 22, 87}}
{{3, 45, 13, 22, 87}}
{{3, 8, 13, 45, 22, 87}}
{{17, 45, 87}}
{{8, 17, 45, 87}}
{{17, 45, 13, 87}}
{{8, 45, 13, 17, 87}}
{{17, 3, 45, 87}}
{{3, 8, 45, 17, 87}}
{{3, 45, 13, 17, 87}}
{{3, 8, 13, 45, 17, 87}}
{{17, 45, 22, 87}}
{{8, 45, 17, 22, 87}}
{{45, 13, 17, 22, 87}}
{{8, 13, 45, 17, 22, 87}}
{{3, 45, 17, 22, 87}}
{{3, 8, 45, 17, 22, 87}}
{{3, 13, 45, 17, 22, 87}}
{{3, 8, 13, 45, 17, 22, 87}}
{{45, 87, 39}}
{{8, 45, 87, 39}}
{{45, 13, 87, 39}}
{{39, 8, 45, 13, 87}}
{{3, 45, 87, 39}}
{{3, 39, 8, 45, 87}}
{{3, 39, 45, 13, 87}}
{{3, 39, 8, 13, 45, 87}}
{{87, 45, 22, 39}}
{{39, 8, 45, 22, 87}}
{{39, 45, 13, 22, 87}}
{{39, 8, 13, 45, 22, 87}}
{{3, 39, 45, 22, 87}}
{{3, 39, 8, 45, 22, 87}}
{{3, 39, 13, 45, 22, 87}}
{{3, 39, 8, 13, 45, 22, 87}}
{{17, 45, 87, 39}}
{{39, 8, 45, 17, 87}}
{{39, 45, 13, 17, 87}}
{{39, 8, 13, 45, 17, 87}}
{{3, 39, 45, 17, 87}}
{{3, 39, 8, 45, 17, 87}}
{{3, 39, 13, 45, 17, 87}}
{{3, 39, 8, 13, 45, 17, 87}}
{{39, 45, 17, 22, 87}}
{{39, 8, 45, 17, 22, 87}}
{{39, 13, 45, 17, 22, 87}}
{{39, 8, 13, 45, 17, 22, 87}}
{{3, 39, 45, 17, 22, 87}}
{{3, 39, 8, 45, 17, 22, 87}}
{{3, 39, 13, 45, 17, 22, 87}}
{{3, 39, 8, 13, 45, 17, 22, 87}}
{{36}}
{{8, 36}}
{{36, 13}}
{{8, 36, 13}}
{{3, 36}}
{{8, 3, 36}}
{{3, 36, 13}}
{{8, 3, 36, 13}}
{{36, 22}}
{{8, 36, 22}}
{{36, 13, 22}}
{{8, 36, 13, 22}}
{{3, 36, 22}}
{{8, 3, 36, 22}}
{{3, 36, 13, 22}}
{{3, 36, 8, 13, 22}}
{{17, 36}}
{{8, 17, 36}}
{{17, 36, 13}}
{{8, 17, 36, 13}}
{{17, 3, 36}}
{{8, 17, 3, 36}}
{{17, 3, 36, 13}}
{{3, 36, 8, 13, 17}}
{{17, 36, 22}}
{{8, 17, 36, 22}}
{{17, 36, 13, 22}}
{{36, 8, 13, 17, 22}}
{{17, 3, 36, 22}}
{{3, 36, 8, 17, 22}}
{{3, 36, 13, 17, 22}}
{{3, 36, 8, 13, 17, 22}}
{{36, 39}}
{{8, 36, 39}}
{{36, 13, 39}}
{{8, 36, 13, 39}}
{{3, 36, 39}}
{{8, 3, 36, 39}}
{{3, 36, 13, 39}}
{{3, 36, 39, 8, 13}}
{{36, 22, 39}}
{{8, 36, 22, 39}}
{{36, 13, 22, 39}}
{{36, 39, 8, 13, 22}}
{{3, 36, 22, 39}}
{{3, 36, 39, 8, 22}}
{{3, 36, 39, 13, 22}}
{{3, 36, 39, 8, 13, 22}}
{{17, 36, 39}}
{{8, 17, 36, 39}}
{{17, 36, 13, 39}}
{{36, 39, 8, 13, 17}}
{{17, 3, 36, 39}}
{{3, 36, 39, 8, 17}}
{{3, 36, 39, 13, 17}}
{{3, 36, 39, 8, 13, 17}}
{{17, 36, 22, 39}}
{{36, 39, 8, 17, 22}}
{{36, 39, 13, 17, 22}}
{{36, 39, 8, 13, 17, 22}}
{{3, 36, 39, 17, 22}}
{{3, 36, 39, 8, 17, 22}}
{{3, 36, 39, 13, 17, 22}}
{{3, 36, 39, 8, 13, 17, 22}}
{{36, 87}}
{{8, 36, 87}}
{{36, 13, 87}}
{{8, 36, 13, 87}}
{{3, 36, 87}}
{{8, 3, 36, 87}}
{{3, 36, 13, 87}}
{{3, 36, 8, 13, 87}}
{{36, 22, 87}}
{{8, 36, 22, 87}}
{{36, 13, 22, 87}}
{{36, 8, 13, 22, 87}}
{{3, 36, 22, 87}}
{{3, 36, 8, 22, 87}}
{{3, 36, 13, 22, 87}}
{{3, 36, 8, 13, 22, 87}}
{{17, 36, 87}}
{{8, 17, 36, 87}}
{{17, 36, 13, 87}}
{{36, 8, 13, 17, 87}}
{{17, 3, 36, 87}}
{{3, 36, 8, 17, 87}}
{{3, 36, 13, 17, 87}}
{{3, 36, 8, 13, 17, 87}}
{{17, 36, 22, 87}}
{{36, 8, 17, 22, 87}}
{{36, 13, 17, 22, 87}}
{{36, 8, 13, 17, 22, 87}}
{{3, 36, 17, 22, 87}}
{{3, 36, 8, 17, 22, 87}}
{{3, 36, 13, 17, 22, 87}}
{{3, 36, 8, 13, 17, 22, 87}}
{{36, 87, 39}}
{{8, 36, 87, 39}}
{{36, 13, 87, 39}}
{{36, 39, 8, 13, 87}}
{{3, 36, 87, 39}}
{{3, 36, 39, 8, 87}}
{{3, 36, 39, 13, 87}}
{{3, 36, 39, 8, 13, 87}}
{{87, 36, 22, 39}}
{{36, 39, 8, 22, 87}}
{{36, 39, 13, 22, 87}}
{{36, 39, 8, 13, 22, 87}}
{{3, 36, 39, 22, 87}}
{{3, 36, 39, 8, 22, 87}}
{{3, 36, 39, 13, 22, 87}}
{{3, 36, 39, 8, 13, 22, 87}}
{{17, 36, 87, 39}}
{{36, 39, 8, 17, 87}}
{{36, 39, 13, 17, 87}}
{{36, 39, 8, 13, 17, 87}}
{{3, 36, 39, 17, 87}}
{{3, 36, 39, 8, 17, 87}}
{{3, 36, 39, 13, 17, 87}}
{{3, 36, 39, 8, 13, 17, 87}}
{{36, 39, 17, 22, 87}}
{{36, 39, 8, 17, 22, 87}}
{{36, 39, 13, 17, 22, 87}}
{{36, 39, 8, 13, 17, 22, 87}}
{{3, 36, 39, 17, 22, 87}}
{{3, 36, 39, 8, 17, 22, 87}}
{{3, 36, 39, 13, 17, 22, 87}}
{{3, 36, 39, 8, 13, 17, 22, 87}}
{{36, 45}}
{{8, 36, 45}}
{{45, 36, 13}}
{{8, 45, 36, 13}}
{{3, 36, 45}}
{{8, 3, 36, 45}}
{{45, 3, 36, 13}}
{{3, 36, 8, 45, 13}}
{{36, 45, 22}}
{{8, 36, 45, 22}}
{{45, 36, 13, 22}}
{{36, 8, 45, 13, 22}}
{{3, 36, 45, 22}}
{{3, 36, 8, 45, 22}}
{{3, 36, 45, 13, 22}}
{{3, 36, 8, 45, 13, 22}}
{{17, 36, 45}}
{{8, 17, 36, 45}}
{{17, 45, 36, 13}}
{{36, 8, 45, 13, 17}}
{{17, 3, 36, 45}}
{{3, 36, 8, 45, 17}}
{{3, 36, 45, 13, 17}}
{{3, 36, 8, 13, 45, 17}}
{{17, 36, 45, 22}}
{{36, 8, 45, 17, 22}}
{{36, 45, 13, 17, 22}}
{{36, 8, 45, 13, 17, 22}}
{{3, 36, 45, 17, 22}}
{{3, 36, 8, 45, 17, 22}}
{{3, 36, 45, 13, 17, 22}}
{{3, 36, 8, 13, 45, 17, 22}}
{{36, 45, 39}}
{{8, 36, 45, 39}}
{{45, 36, 13, 39}}
{{36, 39, 8, 45, 13}}
{{3, 36, 45, 39}}
{{3, 36, 39, 8, 45}}
{{3, 36, 39, 45, 13}}
{{3, 36, 39, 8, 45, 13}}
{{36, 45, 22, 39}}
{{36, 39, 8, 45, 22}}
{{36, 39, 45, 13, 22}}
{{36, 39, 8, 45, 13, 22}}
{{3, 36, 39, 45, 22}}
{{3, 36, 39, 8, 45, 22}}
{{3, 36, 39, 45, 13, 22}}
{{3, 36, 39, 8, 13, 45, 22}}
{{17, 36, 45, 39}}
{{36, 39, 8, 45, 17}}
{{36, 39, 45, 13, 17}}
{{36, 39, 8, 45, 13, 17}}
{{3, 36, 39, 45, 17}}
{{3, 36, 39, 8, 45, 17}}
{{3, 36, 39, 45, 13, 17}}
{{3, 36, 39, 8, 13, 45, 17}}
{{36, 39, 45, 17, 22}}
{{36, 39, 8, 45, 17, 22}}
{{36, 39, 45, 13, 17, 22}}
{{36, 39, 8, 13, 45, 17, 22}}
{{3, 36, 39, 45, 17, 22}}
{{3, 36, 39, 8, 45, 17, 22}}
{{3, 36, 39, 13, 45, 17, 22}}
{{3, 36, 39, 8, 13, 45, 17, 22}}
{{36, 45, 87}}
{{8, 36, 45, 87}}
{{45, 36, 13, 87}}
{{36, 8, 45, 13, 87}}
{{3, 36, 45, 87}}
{{3, 36, 8, 45, 87}}
{{3, 36, 45, 13, 87}}
{{3, 36, 8, 45, 13, 87}}
{{36, 45, 22, 87}}
{{36, 8, 45, 22, 87}}
{{36, 45, 13, 22, 87}}
{{36, 8, 45, 13, 22, 87}}
{{3, 36, 45, 22, 87}}
{{3, 36, 8, 45, 22, 87}}
{{3, 36, 45, 13, 22, 87}}
{{3, 36, 8, 13, 45, 22, 87}}
{{17, 36, 45, 87}}
{{36, 8, 45, 17, 87}}
{{36, 45, 13, 17, 87}}
{{36, 8, 45, 13, 17, 87}}
{{3, 36, 45, 17, 87}}
{{3, 36, 8, 45, 17, 87}}
{{3, 36, 45, 13, 17, 87}}
{{3, 36, 8, 13, 45, 17, 87}}
{{36, 45, 17, 22, 87}}
{{36, 8, 45, 17, 22, 87}}
{{36, 45, 13, 17, 22, 87}}
{{36, 8, 13, 45, 17, 22, 87}}
{{3, 36, 45, 17, 22, 87}}
{{3, 36, 8, 45, 17, 22, 87}}
{{3, 36, 13, 45, 17, 22, 87}}
{{3, 36, 8, 13, 45, 17, 22, 87}}
{{36, 45, 87, 39}}
{{36, 39, 8, 45, 87}}
{{36, 39, 45, 13, 87}}
{{36, 39, 8, 45, 13, 87}}
{{3, 36, 39, 45, 87}}
{{3, 36, 39, 8, 45, 87}}
{{3, 36, 39, 45, 13, 87}}
{{3, 36, 39, 8, 13, 45, 87}}
{{36, 39, 45, 22, 87}}
{{36, 39, 8, 45, 22, 87}}
{{36, 39, 45, 13, 22, 87}}
{{36, 39, 8, 13, 45, 22, 87}}
{{3, 36, 39, 45, 22, 87}}
{{3, 36, 39, 8, 45, 22, 87}}
{{3, 36, 39, 13, 45, 22, 87}}
{{3, 36, 39, 8, 13, 45, 22, 87}}
{{36, 39, 45, 17, 87}}
{{36, 39, 8, 45, 17, 87}}
{{36, 39, 45, 13, 17, 87}}
{{36, 39, 8, 13, 45, 17, 87}}
{{3, 36, 39, 45, 17, 87}}
{{3, 36, 39, 8, 45, 17, 87}}
{{3, 36, 39, 13, 45, 17, 87}}
{{3, 36, 39, 8, 13, 45, 17, 87}}
{{36, 39, 45, 17, 22, 87}}
{{36, 39, 8, 45, 17, 22, 87}}
{{36, 39, 13, 45, 17, 22, 87}}
{{36, 39, 8, 13, 45, 17, 22, 87}}
{{3, 36, 39, 45, 17, 22, 87}}
{{3, 36, 39, 8, 45, 17, 22, 87}}
{{3, 36, 39, 13, 45, 17, 22, 87}}
{{3, 36, 39, 8, 13, 45, 17, 22, 87}}
****Total*****512

# Sorting and Searching: Find the high and low index

In [37]:
def find_low_index(arr, key):
  
  low = 0
  high = len(arr) - 1
  mid = int(high / 2)

  while low <= high:

    mid_elem = arr[mid]

    if mid_elem < key:
      low = mid + 1
    else:
      high = mid - 1

    mid = low + int((high - low) / 2)

  if low < len(arr) and arr[low] == key:
    return low

  return -1

def find_high_index(arr, key):
  low = 0
  high = len(arr) - 1
  mid = int(high / 2)

  while low <= high:
    mid_elem = arr[mid]

    if mid_elem <= key:
      low = mid + 1
    else:
      high = mid - 1

    mid = low + int((high - low) / 2);
  
  if high == -1:
    return high

  if high < len(arr) and arr[high] == key:
    return high

  return -1


array = [1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 6, 6, 6, 6, 6, 6]
key = 5
low = find_low_index(array, key)
high = find_high_index(array, key)
print("Low Index of " + str(key) + ": " + str(low))
print("High Index of " + str(key) + ": " + str(high))

key = -2
low = find_low_index(array, key)
high = find_high_index(array, key)
print("Low Index of " + str(key) + ": " + str(low))
print("High Index of " + str(key) + ": " + str(high))

Low Index of 5: 15
High Index of 5: 17
Low Index of -2: -1
High Index of -2: -1

# Sorting and Searching: Search rotated array

In [38]:
def binary_search(arr, start, end, key):
  # assuming all the keys are unique.
  
  if (start > end):
    return -1;

  mid = int(start + (end - start) / 2)

  if arr[mid] == key:
    return mid
    
  if arr[start] <= arr[mid] and key <= arr[mid] and key >= arr[start]:
    return binary_search(arr, start, mid - 1, key)
  
  elif arr[mid] <= arr[end] and key >= arr[mid] and key <= arr[end]: 
    return binary_search(arr, mid + 1, end, key)

  elif arr[end] <= arr[mid]:
    return binary_search(arr, mid + 1, end, key)

  elif arr[start] >= arr[mid]:
    return binary_search(arr, start, mid - 1, key)

  return -1;

def binary_search_rotated(arr, key):
  return binary_search(arr, 0, len(arr)-1, key)

v1 = [6, 7, 1, 2, 3, 4, 5];
  
print("Key(3) found at: " + str(binary_search_rotated(v1, 3)))
print("Key(6) found at: " + str(binary_search_rotated(v1, 6)))
  
v2 = [4, 5, 6, 1, 2, 3];
  
print("Key(3) found at: " + str(binary_search_rotated(v2, 3)))
print("Key(6) found at: " + str(binary_search_rotated(v2, 6)))

Key(3) found at: 4
Key(6) found at: 0
Key(3) found at: 5
Key(6) found at: 2

# Python Casting

In [43]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

y

2

In [47]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

z

3.0

In [2]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# Get the character at position 1 (remember that the first character has the position 0):

In [50]:
a = "Hello, World!"
print(a[1])

e

# Loop through the letters in the word "banana":

In [51]:
for x in "banana":
  print(x)

b
a
n
a
n
a

# The len() function returns the length of a string:

In [52]:
a = "Hello, World!"
print(len(a))

13

# Check if "free" is present in the following text::

In [53]:
txt = "The best things in life are free!"
print("free" in txt)

True

# Or Use it in an if statement::

In [56]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")
else:
    print("No, 'free' is not present.")

Yes, 'free' is present.

# To check if a certain phrase or character is NOT present in a string, we can use the keyword not in:

In [57]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

# or Use it in an if statement:

In [61]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")
else:
    print("Yes, 'expensive' is present.")

No, 'expensive' is NOT present.

# Slicing
# You can return a range of characters by using the slice syntax.

# Specify the start index and the end index, separated by a colon, to return a part of the string.

# Example: Note: The first character has index 0.

In [63]:
b = "Hello, World!"
print(b[2:5])

llo

# Get the characters from the start to position 5 (not included):

In [64]:
b = "Hello, World!"
print(b[:5])

Hello

# Slice To the End
# By leaving out the end index, the range will go to the end:

# Example
# Get the characters from position 2, and all the way to the end:

In [65]:
b = "Hello, World!"
print(b[2:])

llo, World!

# Negative Indexing
# Use negative indexes to start the slice from the end of the string:
# Example
# Get the characters:

# From: "o" in "World!" (position -5)

# To, but not included: "d" in "World!" (position -2):

In [66]:
b = "Hello, World!"
print(b[-5:-2])

orl

# Python - Modify Strings:
# The upper() method returns the string in upper case:

In [67]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

# The lower() method returns the string in lower case:

In [68]:
a = "Hello, World!"
print(a.lower())

hello, world!

# Remove Whitespace
# Whitespace is the space before and/or after the actual text, and very often you want to remove this space:

In [69]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

# Replace String:
# The replace() method replaces a string with another string:

In [70]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
# Split String:
# The split() method splits the string into substrings if it finds instances of the separator:

In [71]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

# String Concatenation:
# Merge variable a with variable b into variable c:

In [1]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

# String Concatenation:
# To add a space between them, add a " ":

In [2]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# Python - Format - Strings
# As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [5]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

# But we can combine strings and numbers by using the format() method!

In [6]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [7]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [9]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# Python - Escape Characters

# To insert characters that are illegal in a string, use an escape character.

# An escape character is a backslash \ followed by the character you want to insert.

# An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

# Example
# You will get an error if you use double quotes inside a string that is surrounded by double quotes:

In [2]:
txt = "We are the so-called "Vikings" from the north."

txt

SyntaxError: invalid syntax (2903018907.py, line 1)

# To fix this problem, use the escape character \":

In [4]:
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

# Python - String Methods
# Python has a set of built-in methods that you can use on strings.
# Note: All string methods returns new values. They do not change the original string.
# The capitalize() method returns a string where the first character is upper case, and the rest is lower case

In [5]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

# See Other String Methods and Descriptions below:


# capitalize()	Converts the first character to upper case

# casefold()	Converts string into lower case

# center()	Returns a centered string

# count()	Returns the number of times a specified value occurs in a string

# encode()	Returns an encoded version of the string

# endswith()	Returns true if the string ends with the specified value

# expandtabs()	Sets the tab size of the string

# find()	Searches the string for a specified value and returns the position of where it was found

# format()	Formats specified values in a string

# format_map()	Formats specified values in a string

# index()	Searches the string for a specified value and returns the position of where it was found

# isalnum()	Returns True if all characters in the string are alphanumeric

# isalpha()	Returns True if all characters in the string are in the alphabet

# isdecimal()	Returns True if all characters in the string are decimals

# isdigit()	Returns True if all characters in the string are digits

# isidentifier()	Returns True if the string is an identifier

# islower()	Returns True if all characters in the string are lower case

# isnumeric()	Returns True if all characters in the string are numeric

# isprintable()	Returns True if all characters in the string are printable

# isspace()	Returns True if all characters in the string are whitespaces

# istitle()	Returns True if the string follows the rules of a title

# isupper()	Returns True if all characters in the string are upper case

# join()	Joins the elements of an iterable to the end of the string

# ljust()	Returns a left justified version of the string

# lower()	Converts a string into lower case

# lstrip()	Returns a left trim version of the string

# maketrans()	Returns a translation table to be used in translations

# partition()	Returns a tuple where the string is parted into three parts

# replace()	Returns a string where a specified value is replaced with a specified value

# rfind()	Searches the string for a specified value and returns the last position of where it was found

# rindex()	Searches the string for a specified value and returns the last position of where it was found

# rjust()	Returns a right justified version of the string

# rpartition()	Returns a tuple where the string is parted into three parts

# rsplit()	Splits the string at the specified separator, and returns a list

# rstrip()	Returns a right trim version of the string

# split()	Splits the string at the specified separator, and returns a list

# splitlines()	Splits the string at line breaks and returns a list

# startswith()	Returns true if the string starts with the specified value

# strip()	Returns a trimmed version of the string

# swapcase()	Swaps cases, lower case becomes upper case and vice versa

# title()	Converts the first character of each word to upper case

# translate()	Returns a translated string

# upper()	Converts a string into upper case

# zfill()	Fills the string with a specified number of 0 values at the beginning

In [20]:
# Converts string into lower case
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [10]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

In [11]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [14]:
txt = "My name is Stle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [15]:
txt = "My name is Stle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [16]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [17]:
txt = "Hello, welcome to my world."

x = txt.endswith("black")

print(x)

False

In [21]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [24]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

In [26]:
txt = "Ni\tge\tr\ti\ta"
print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(15))

Ni	ge	r	i	a
Ni      ge      r       i       a
Ni  ge  r i a
Ni  ge  r   i   a
Ni             ge             r              i              a

In [30]:
# Searches the string for a specified value and returns the position of where it was found
txt = "Hello, welcome to my world."

x = txt.find("Hello")

print(x)

0

In [32]:
# Searches the string for a specified value and returns the position of where it was found
txt = "Hello, welcome to my world."

x = txt.find("my")

print(x)

18

In [37]:
# Searches the string for a specified value and returns the position of where it was found
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [35]:
# Formats specified values in a string
# Insert the price inside the placeholder, the price should be in fixed point, two-decimal format:

txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [36]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [39]:
# Where in the text is the first occurrence of the letter "e"?:
txt = "Hello, welcome to my world."

x = txt.index("e")

print(x)

1

In [40]:
txt = "Hello, welcome to my world."

x = txt.index("e", 5, 10)

print(x)

8

In [41]:
# Check if all the characters in the text are alphanumeric:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [42]:
# Check if all the characters in the text are letters (alphabets):
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [44]:
# Check if all the characters in the text are letters (alphabets):
txt = "Company10"

x = txt.isalpha()

print(x)

False

In [47]:
#Returns True if all characters in the string are decimals
txt = "\u0033" #unicode for 3

x = txt.isdecimal()

print(x)

True

In [48]:
#Returns True if all characters in the string are decimals
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

In [49]:
#Returns True if all characters in the string are digits
txt = "50800"

x = txt.isdigit()

print(x)

True

In [51]:
#Returns True if all characters in the string are digits
txt = "5a800"

x = txt.isdigit()

print(x)

False

In [58]:
# Returns True if the string is an identifier
# The isidentifier() method returns True if the string is a valid identifier, otherwise False.

# A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). 
# A valid identifier cannot start with a number, or contain any spaces.

txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [59]:
# Returns True if the string is an identifier
# The isidentifier() method returns True if the string is a valid identifier, otherwise False.

# A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). 
# A valid identifier cannot start with a number, or contain any spaces.

a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [60]:
# Returns True if all characters in the string are lower case
txt = "hello world!"

x = txt.islower()

print(x)

True

In [62]:
# Returns True if all characters in the string are lower case
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

In [65]:
# Check if all the characters in the text are numeric:
txt = "565543"

x = txt.isnumeric()

print(x)

True

In [64]:
# Check if all the characters in the text are numeric:
txt = "565a43"

x = txt.isnumeric()

print(x)

False

In [67]:
# # Check if all the characters in the text are numeric:

a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
False
False
False

In [68]:
# Returns True if all characters in the string are printable
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [69]:
# Returns True if all characters in the string are printable
txt = "Hello!\nAre you #1?"

x = txt.isprintable()

print(x)

False

In [70]:
# Returns True if all characters in the string are whitespaces
txt = "   "

x = txt.isspace()

print(x)

True

In [71]:
# Returns True if all characters in the string are whitespaces
txt = "boy"

x = txt.isspace()

print(x)

False

In [72]:
# Returns True if all characters in the string are whitespaces
txt = "boy 1"

x = txt.isspace()

print(x)

False

In [74]:
# Returns True if all characters in the string are whitespaces
txt = "   s   "

x = txt.isspace()

print(x)

False

In [77]:
# Returns True if the string follows the rules of a title
# The istitle() method returns True if all words in a text start with a upper case letter, 
# AND the rest of the word are lower case letters, otherwise False.

# Symbols and numbers are ignored.

txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [78]:
# Returns True if the string follows the rules of a title
# The istitle() method returns True if all words in a text start with a upper case letter, 
# AND the rest of the word are lower case letters, otherwise False.

# Symbols and numbers are ignored.

a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [79]:
# Returns True if all characters in the string are upper case

txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [81]:
# Returns True if all characters in the string are upper case
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

In [82]:
# Joins the elements of an iterable to the end of the string

myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [84]:
# Joins the elements of an iterable to the end of the string

myDict = {"name": "John", "country": "Norway", "food": "Rice"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountryTESTfood

In [85]:
# Returns a left justified version of the string

txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [87]:
# Returns a left justified version of the string
# Using the letter "O" as the padding character:

txt = "banana"

x = txt.ljust(20, "O")

print(x)

bananaOOOOOOOOOOOOOO

In [88]:
# Converts a string into lower case

txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [91]:
# Returns a left trim version of the string
# The lstrip() method removes any leading characters (space is the default leading character to remove)

txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [93]:
# Returns a left trim version of the string
# The lstrip() method removes any leading characters (space is the default leading character to remove)

txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.asw")

print(x)

banana

In [102]:
# Create a mapping table, and use it in the translate() method to replace "S" characters with "P" character:

txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [103]:
# Create a mapping table, and use it in the translate() method to replace any "x" characters with a "y" character: 

txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = txt.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [104]:
# Create a mapping table, and use it in the translate() method to replace any "x" characters with a "y" character:
# The third parameter in the mapping table describes characters that you want to remove from the string:

txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = txt.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [105]:
# Returns a tuple where the string is parted into three parts

txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [107]:
# Returns a tuple where the string is parted into three parts
# If the specified value is not found, the partition() method returns 
# a tuple containing: 1 - the whole string, 2 - an empty string, 3 - an empty string:

txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)

('I could eat bananas all day', '', '')

In [115]:
# Replace "bananas" with the word "apples":

txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [111]:
# Replace all occurrence of the word "one":

txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [114]:
# Replace the two first occurrence of the word "one":

txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

In [117]:
# Searches the string for a specified value and returns the last position of where it was found
# Where in the text is the last occurrence of the string "casa"?:

txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [120]:
# Where in the text is the last occurrence of the letter "e"?:
    
txt = "Hello, welcome to my world."

x = txt.rfind("e")

print(x)

13

In [121]:
# Where in the text is the last occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."

x = txt.rfind("e", 5, 10)

print(x)

8

In [124]:
# Searches the string for a specified value and returns the last position of where it was found

txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [126]:
# Where in the text is the last occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

x = txt.rindex("e")

print(x)

13

In [128]:
# here in the text is the last occurrence of the letter "e" when you only search between position 5 and 10?:
    
txt = "Hello, welcome to my world."

x = txt.rindex("e", 5, 10)

print(x)

8

In [2]:
# Return a 20 characters long, right justified version of the word "banana":


txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [1]:
txt = "banana"

x = txt.rjust(20, "O")

print(x)

OOOOOOOOOOOOOObanana

In [2]:
# Search for the last occurrence of the word "bananas", and return a tuple with three elements:

# 1 - everything before the "match"
# 2 - the "match"
# 3 - everything after the "match"

txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [5]:
# If the specified value is not found, the rpartition() method returns a tuple containing: 1 - an empty string, 2 - an empty string, 3 - the whole string:

txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("apples")

print(x)

('', '', 'I could eat bananas all day, bananas are my favorite fruit')

In [6]:
# Splits the string at the specified separator, and returns a list

# Split a string into a list, using comma, followed by a space (, ) as the separator:

txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

# Syntax

# string.rsplit(separator, maxsplit)

# separator	Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator

# maxsplit	Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"

In [10]:
# Split the string into a list with maximum 2 items:

txt = "apple, banana, cherry"

# setting the maxsplit parameter to 1, will return a list with 2 elements!

x = txt.rsplit(", ", 1)

print(x)

['apple, banana', 'cherry']

In [11]:
# Returns a right trim version of the string

# Remove any white spaces at the end of the string:

txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [16]:
# Remove the trailing characters if they are commas, s, q, or w:

txt = "banana,,,,,ssqqqww....."

x = txt.rstrip(",.sqw")

print(x)

banana

In [17]:
# Splits the string at the specified separator, and returns a list

# Split a string into a list where each word is a list item:

txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

# Syntax

# string.split(separator, maxsplit)

# separator	Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator

# maxsplit	Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"

In [19]:
# Split the string, using comma, followed by a space, as a separator:
    
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [20]:
# Use a hash character as a separator:

txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

In [23]:
# Split the string into a list with max 2 items:

txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!

x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

In [25]:
# Split a string into a list where each line is a list item:

txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [26]:
# Split the string, but keep the line breaks:


txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines(True)

print(x)

['Thank you for the music\n', 'Welcome to the jungle']

In [1]:
# Returns true if the string starts with the specified value

txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [3]:
# Check if position 7 to 20 starts with the characters "wel":

txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 20)

print(x)

True

In [3]:
# Returns a trimmed version of the string
# Remove spaces at the beginning and at the end of the string:

txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [4]:
# Swaps cases, lower case becomes upper case and vice versa
# Make the lower case letters upper case and the upper case letters lower case:

txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [5]:
# Converts the first character of each word to upper case
# Make the first letter in each word upper case:

txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [8]:
# Returns a translated string
# Replace any "S" characters with a "P" character:

#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [9]:
# Converts a string into upper case
# Upper case the string:

txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [10]:
# Fills the string with a specified number of 0 values at the beginning
# Fill the string with zeros until it is 10 characters long:

txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [23]:
# Boolean
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [21]:
# Boolean
# Print a message based on whether the condition is True or False:
# Almost any value is evaluated to True if it has some sort of content.

# Any string is True, except empty strings.

# Any number is True, except 0.

# Any list, tuple, set, and dictionary are True, except empty ones.

a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [20]:
# Boolean
# Evaluate a string and a number:
# Almost any value is evaluated to True if it has some sort of content.

# Any string is True, except empty strings.

# Any number is True, except 0.

# Any list, tuple, set, and dictionary are True, except empty ones.

print(bool("Hello"))
print(bool(15))

True
True

In [22]:
# Boolean
# Almost any value is evaluated to True if it has some sort of content.

# Any string is True, except empty strings.

# Any number is True, except 0.

# Any list, tuple, set, and dictionary are True, except empty ones.

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [30]:
# Python Operator

x = 2
x += 3
print(x)

5

In [32]:
# Python Operator

x = 10
x -= 3
print(x)

7

In [33]:
# Python Operator

x = 4
x *= 3
print(x)

12

In [34]:
# Python Operator

x = 20
x /= 2
print(x)

10.0

In [36]:
# Python Operator

x = 22
x %= 3
print(x)

1

In [39]:
# Python Operator

x = 31
x //= 3
print(x)

10

In [40]:
# Python Operator

x = 5
x **= 2
print(x)

25

In [43]:
# Python Operator

x = 5
x <= 3

False

In [44]:
# Python Operator

x = 5
x >= 3

True

In [45]:
# Python Operator

x = 5
x != 3

True

In [46]:
# Python Operator

x = 5
x < 15

True

In [47]:
# Python Operator

x = 25
x > 20

True

In [48]:
# Python Operator

x = 5
x == 3

False

# Python Lists

In [1]:
thislist = ["apple", "banana", "cherry"]

print(thislist)

['apple', 'banana', 'cherry']

In [3]:
# Lists allow duplicate values:

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [5]:
# Print the number of items in the list:

thislist = ["apple", "banana", "cherry"]

print(len(thislist))

3

In [10]:
# String, int and boolean data types:

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

a = type(list1)
b = type(list2)
c = type(list3)

print(a)
print(b)
print(c)

<class 'list'>
<class 'list'>
<class 'list'>

In [13]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [14]:
# Using the list() constructor to make a List:

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets

print(thislist)

['apple', 'banana', 'cherry']

In [15]:
# Print the second item of the list:

thislist = ["apple", "banana", "cherry"]

print(thislist[1])

banana

In [16]:
# Negative indexing means start from the end
# Print the last item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [17]:
# Return the third, fourth, and fifth item:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [18]:
# This example returns the items from the beginning to, but NOT including, "kiwi":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [19]:
# This example returns the items from "cherry" to the end:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [21]:
# This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [22]:
# Check if "apple" is present in the list:

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [23]:
# Change the second item:

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [24]:
# Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [25]:
# Change the second value by replacing it with two new values:

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [26]:
# Change the second and third value by replacing it with one value:

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [27]:
# Insert "watermelon" as the third item:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

# Python Arrays

In [49]:
# Create an array containing car names:
# Elements of an array can be accessed by referencing their indexes:

cars = ["Ford", "Volvo", "BMW"]

cars

['Ford', 'Volvo', 'BMW']

In [11]:
cars = ["Ford", "Volvo", "BMW"]
a = type(cars)

print(a)

<class 'list'>

In [50]:
# Get the value of the first array item:

first = cars[0]

first

'Ford'

In [51]:
# Get the value of the second array item:

second = cars[1]

second

'Volvo'

# Modify the value of the first array item:

In [52]:
# Modify the value of the first array item:

cars[0] = "Toyota"

cars

['Toyota', 'Volvo', 'BMW']

# The Length of an Array

# The length of an array is always one more than the highest array index.

In [53]:
x = len(cars)

x

3

# Looping Array Elements

# You can use the for in loop to loop through all the elements of an array.

In [54]:
# Print each item in the cars array:

for x in cars:
  print(x)

Toyota
Volvo
BMW

# Adding Array Elements

# You can use the append() method to add an element to an array.

In [55]:
# Add one more element to the cars array:

cars.append("Honda")

cars

['Toyota', 'Volvo', 'BMW', 'Honda']

# Removing Array Elements

# You can use the pop() method to remove an element from the array.

In [56]:
# Delete the second element of the cars array:

cars.pop(3)

cars

['Toyota', 'Volvo', 'BMW']

In [57]:
# You can also use the remove() method to remove an element from the array.

# Delete the element that has the value "BMW":

cars.remove("BMW")

cars

['Toyota', 'Volvo']

# Array Methods

# Python has a set of built-in methods that you can use on lists/arrays.

In [ ]:
# append()	Adds an element at the end of the list

# clear()	Removes all the elements from the list

# copy()	Returns a copy of the list

# count()	Returns the number of elements with the specified value

# extend()	Add the elements of a list (or any iterable), to the end of the current list

# index()	Returns the index of the first element with the specified value

# insert()	Adds an element at the specified position

# pop()	Removes the element at the specified position

# remove()	Removes the first item with the specified value

# reverse()	Reverses the order of the list

# sort()	Sorts the list

In [58]:
# Remove all elements from the fruits list:

fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()

fruits

[]

In [60]:
# Copy the fruits list:

fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()

x

['apple', 'banana', 'cherry', 'orange']

In [63]:
# Return the number of times the value "cherry" appears in the fruits list:

fruits = ['apple', 'cherry', 'banana', 'cherry']

x = fruits.count("cherry")

x

2

In [65]:
# Return the number of times the value 9 appears int the list:

points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(9)

x

2

In [66]:
# Add the elements of cars to the fruits list:

fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

fruits

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [68]:
# Add a tuple to the fruits list:

fruits = ['apple', 'banana', 'cherry']

points = (1, 4, 5, 9)

fruits.extend(points)

fruits

['apple', 'banana', 'cherry', 1, 4, 5, 9]

In [70]:
# What is the position of the value "cherry":

fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")

x

2

In [72]:
# What is the position of the value 32:

# Note: The index() method only returns the first occurrence of the value.

fruits = [4, 55, 64, 32, 16, 32]

x = fruits.index(32)

x

3

In [73]:
# Insert the value "orange" as the second element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")

fruits

['apple', 'orange', 'banana', 'cherry']

In [74]:
# Remove the second element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)

fruits

['apple', 'cherry']

In [76]:
# Return the removed element:

fruits = ['apple', 'banana', 'cherry']

x = fruits.pop(1)

x

'banana'

In [77]:
# Reverse the order of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

fruits

['cherry', 'banana', 'apple']

In [78]:
# Sort the list alphabetically:

cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

cars

['BMW', 'Ford', 'Volvo']

In [79]:
# Sort the list descending:

cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)

cars

['Volvo', 'Ford', 'BMW']

In [79]:
# Sort the list descending:

cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)

cars

['Volvo', 'Ford', 'BMW']

In [81]:
# Sort the list by the length of the values:

# A function that returns the length of the value:

def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)

cars

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [84]:
# Sort the list descending:

numbers = [1, 2, 3, 0, 10, 0, 7, 9, 2, 0, 0]

numbers.sort(reverse=False)

numbers

[0, 0, 0, 0, 1, 2, 2, 3, 7, 9, 10]

In [87]:
# Selection sort in Python


def selectionSort(array, size):
   
    for step in range(size):
        min_idx = step

        for i in range(step + 1, size):
         
            # to sort in descending order, change > to < in this line
            # select the minimum element in each loop
            if array[i] < array[min_idx]:
                min_idx = i
         
        # put min at the correct position
        (array[step], array[min_idx]) = (array[min_idx], array[step])


data = [-2, 45, 0, 11, -9]
size = len(data)
selectionSort(data, size)
print('Sorted Array in Ascending Order:')
print(data)

Sorted Array in Ascending Order:
[-9, -2, 0, 11, 45]

In [90]:
def selectionSort(array):
  n = len(array)
  for i in range(n):
    # Initially, assume the first element of the unsorted part as the minimum.
    minimum = i

    for j in range(i+1, n):
      if (array[j] < array[minimum] and array[j] == 0):
        # Update position of minimum element if a smaller element is found.
        minimum = j

    # Swap the minimum element with the first element of the unsorted part.     
    temp = array[i]
    array[i] = array[minimum]
    array[minimum] = temp
    
  return array

# Driver code
array = [13, 4, 0, 9, 5, 0, 3, 16, 12, 0]
print(selectionSort(array))

[0, 0, 0, 9, 5, 4, 3, 16, 12, 13]

In [91]:
# Python - Escape Characters

In [ ]:
# Python - Escape Characters

In [ ]:
# Python - Escape Characters

In [ ]:
# Python - Escape Characters

In [ ]:
# Python - Escape Characters

In [ ]:
# Python - Escape Characters

In [ ]:
# Python - Escape Characters

In [ ]:
# Python - Escape Characters

In [ ]:
# Python - Escape Characters

In [ ]:
# Python - Escape Characters

In [ ]:
# Python - Escape Characters

In [10]:
# Python implementation for Adding one
# to number represented by digits
 
import math
 
# function for adding one to number

def incrementVector(a):
 
    n = len(a)
 
    # Add 1 to last digit and find carry
    a[n-1] += 1
    carry = a[n-1]/10
    a[n-1] = a[n-1] % 10
 
    # Traverse from second last digit
    for i in range(n-2, -1, -1):
        if (carry == 1):
            a[i] += 1
            carry = a[i]/10
            a[i] = a[i] % 10
 
    # If carry is 1, we need to add
    # a 1 at the beginning of vector
    if (carry == 1):
        a.insert(0, 1)
        # driver code
vect = [1, 7, 2, 5]
 
incrementVector(vect)
 
for i in range(0, len(vect)):
    print(vect[i], end=" ")

1 7 2 6

In [3]:
i = 0
while (i < 5):
    print(i)
    i += 1

0
1
2
3
4

In [9]:
i = 1
while (i <= 10):
    print(i)
    i = 1 + i

1
2
3
4
5
6
7
8
9
10

In [2]:
import pandas as pd
import numpy as np

In [3]:
time_index = pd.date_range('06/06/2017', periods=100000, freq='30S')

In [4]:
dataframe = pd.DataFrame(index=time_index)

In [5]:
dataframe['Sale_Amount'] = np.random.randint(1, 10, 100000)

In [6]:
dataframe.resample('W').sum()

            Sale_Amount
2017-06-11        86500
2017-06-18       100826
2017-06-25       100608
2017-07-02       100516
2017-07-09       100360
2017-07-16        10133

In [7]:
dataframe.head(3)

                     Sale_Amount
2017-06-06 00:00:00            1
2017-06-06 00:00:30            8
2017-06-06 00:01:00            1

In [8]:
dataframe.resample('2W').mean()

            Sale_Amount
2017-06-11     5.005787
2017-06-25     4.995883
2017-07-09     4.982044
2017-07-23     4.871635

In [9]:
dataframe.resample('M').count()

            Sale_Amount
2017-06-30        72000
2017-07-31        28000

In [10]:
dataframe.resample('M', label='left').count()

            Sale_Amount
2017-05-31        72000
2017-06-30        28000

In [ ]:
# h: help
# w: where
# n: next
# s: step
# c: continue
# p: print
# l: list
# q: quit

In [2]:
import pdb

In [ ]:
# Python program to generate the prime numbers from 1 to N

number_N = input("Enter the number: ")
integer_N = int(number_N)
prime_number = []
check = []
for i in range(2, integer_N+1, 1):  # List of integers to be used as divisors for the input integer N
    
    for j in range(2, i, 1):
        remains = (i % j)
        check.append(remains)
    y = check.count(0)
    if y==0:
        prime_number.append(i)
                      
print("The prime from 1 to " + number_N + " are " + str(prime_number))

In [3]:
import pdb
# debug txt

# h: help
# w: where
# n: next
# s: step
# c: continue
# p: print
# l: list
# q: quit

In [4]:
list1 = [1, 2, 3, 4] 
list2 = [5, 6, 7, 8]

In [5]:
summed_list = []

In [6]:
for item in zip(list1, list2):
    temp_sum = sum(item)
    summed_list.append(temp_sum)

In [7]:
summed_list

[6, 8, 10, 12]